<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <title>Document</title>
</head>
<body>
    <div class="time-container">
        <h1>📆TIME DISPLAY!</h1>
        <p>Current Date and time is {{time}}</p>
    </div>
    
    
</body>
</html>